<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Socket Desafio</a>

    <a class="navbar-brand" href="/mensajes">Mensajes</a>
  </div>
</nav>
